<section id="Certifications">
    <div>
        <h2>Certifications</h2>
        <div class="container certContainer">
            <div class="row">
                <div class="col-md-2  certImage">
                    <img class="mr-3 AWSCertIcon" src="images/AWS-Developer-Associate.png" alt="AWS Developer Associate Badge">  
                </div>
                <div class="col-md-10 certContent ">
                    <h5 class="mt-0">AWS Certified Developer - Associate</h5>
                    Utilizing core AWS services and architecture best practices to proficiently develop, deploy, and debug cloud-based applications.
                </div>
            </div>
        </div>

        <div class="container certContainer">
            <div class="row">
                <div class="col-md-2  certImage">
                    <img class="mr-3 ITILCertIcon" src="images/ITIL-4-Foundation-CPD-300x169.png" alt="ITIL 4 Foundation Badge">  
                </div>
                <div class="col-md-10 certContent ">
                    <h5 class="mt-0">ITIL 4 Foundation</h5>
                    Using the ITIL Service Value System to enable businesses to be responsive in creating value and meeting desired outcomes for their customers.
                </div>
            </div>
        </div>

        <div class="container certContainer">
            <div class="row">
                <div class="col-md-2 certImage">
                    <img class="mr-3 securityCertIcon" src="/images/CompTIA_Security_2Bce.png" alt="CompTIA Security+ Badge">
                </div>
                <div class="col-md-10 certContent ">
                    <h5 class="mt-0">CompTIA Security+</h5>
                    Balancing confidentiality, integrity, and availability to mitigate threats to an organization's resources.
                </div>
            </div>
        </div>
    </div>
</section>