<section id="Certifications">
    <div>
        <h2>Certifications</h2>
        <div class="container certContainer">
            <div class="row">
                <div class="col-md-2  certImage">
                    <!-- <img src="https://valueinsights.ch/wp-content/uploads/2019/06/ITIL%C2%AE-4-Foundation-CPD-300x169.png" class="mr-3 ITILCertIcon" alt="..."> -->
                    <img class="mr-3 ITILCertIcon" src="images/ITIL-4-Foundation-CPD-300x169.png" alt="ITIL 4 Foundation Badge">  
                </div>
                <div class="col-md-10 certContent ">
                    <h5 class="mt-0">ITIL 4 Foundation</h5>
                    Using the ITIL Service Value System to enable businesses to be responsive in creating value and meeting desired outcomes for their customers.
                </div>
            </div>
        </div>

        <div class="container certContainer">
            <div class="row">
                <div class="col-md-2 certImage">
                    <!-- <img src="https://images.youracclaim.com/size/680x680/images/74790a75-8451-400a-8536-92d792c5184a/CompTIA_Security_2Bce.png" class="mr-3 securityCertIcon" alt="..."> -->
                    <img class="mr-3 securityCertIcon" src="/images/CompTIA_Security_2Bce.png" alt="CompTIA Security+ Badge">
                </div>
                <div class="col-md-10 certContent ">
                    <h5 class="mt-0">CompTIA Security+</h5>
                    Balancing confidentiality, integrity, and availability to mitiage threats to an organization's resources.
                </div>
            </div>
        </div>
    </div>
</section>