<section id="Contact">
    <div>
        <h2>Contact Info</h2>
        <div class="container ">
            <div class="row">
                <div class="col-md-6 mediaContainer">
                    <p>I'm always ready for a new challenge.</p>
                    <p class="mediaContainer">Reach out on social media and let me know how we can work together to achieve your goals.</p>
                    <div class="contactMedia">
                        <div class="mediaContainer">
                            <a class="mediaLink" href="https://github.com/trsraiden"><i class="fab fa-github"></i> GitHub</a></div>
                        <div> 
                            <a class="mediaLink" href="https://www.linkedin.com/in/raiden-skala-970760129"><i class="fab fa-linkedin"></i> LinkedIn</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6  contactMedia">
                    <p>Or, leave a message for me here.</p>
                    <form action="/messageSent" method="post">
                        <input class="form-control contactMe" type="text" name="name" placeholder="Name - Required" required/>
                        <input class="form-control contactMe" type="email" name="email" placeholder="Email Address - Optional"/>
                        <textarea class="form-control contactMe" type="text" name="message" placeholder="Your message - Required" required></textarea>
                        <button class="btn btn-primary w-100 contactMe" type="submit" >Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>