<section id="Contact">
    <div>
        <h2>Contact Info</h2>
        <div class="container contactContainer">
            <div class="row">
                <div class="col-md-6">
                    <p>I'm always ready for a new challenge.</p>
                    <p>Reach out and let me know how we can work together to achieve your goals.</p>
                </div>
                <div class="col-md-6 contactMedia">
                    <!-- Email will bring up a modal for email entry hopefully -->
                    <div>
                        <p><i class="fas fa-envelope"></i>
                            Email: trsraiden@gmail.com</p>
                    </div>
                    <!-- <div class="mediaLinkContainer"><a class="mediaLink" href="https://www.facebook.com/raiden.skala/"><i class="fab fa-facebook"></i>
                            Facebook</a></div> -->
                    <div class="mediaLinkContainer"><a class="mediaLink" href="https://github.com/trsraiden"><i
                                class="fab fa-github"></i>
                            GitHub</a></div>
                    <div class="mediaLinkContainer"><a class="mediaLink"
                            href="https://www.linkedin.com/in/raiden-skala-970760129"><i class="fab fa-linkedin"></i>
                            LinkedIn</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>