<section id="Education">
    <div>
        <h2>Education</h2>
        <div class="accordion" id="educationAccordion">
            <div class="card">
                <div class="card-header" id="education1">
                    <h3 class="mb-0">
                        <button class="btn btn-block shadow-none text-left btn-txt" type="button" data-toggle="collapse"
                            data-target="#collapseEducation1" aria-expanded="true" aria-controls="collapseOne">
                            BEng Materials Science Engineering - McMaster University
                        </button>
                    </h3>
                </div>

                <div id="collapseEducation1" class="collapse" aria-labelledby="education1"
                    data-parent="#educationAccordion">
                    <div class="card-body">
                        <h5>Focus:</h5>
                            <ul>
                                <li>Project Management</li>
                                <li>Thermodynamics</li>
                                <li>Statistics</li>
                            </ul>
                        <h5>Key Projects:</h5>
                            <ul>
                                <li>Develop and analyze the results of a steam treatment process for Stackpole International</li>
                                <li>Constructing organic photovoltaic solar cells</li>
                            </ul>
                        <h5>Outcomes:</h5>
                            <ul>
                                <li>Using the triple bottom line framework to balance social, environmental, and economic goals</li>
                                <li>Setting and communcating goals within a team</li>
                                <li>A systematic approach to solving problems</li>
                            </ul>                        
                        <!-- <p>
                            The core of this program is similar to other streams of engineering; use mathematics to understand energy and matter, and apply this knowledge to create and maintain sustainable systems.
                            Where this stream specialized is analyzing the processes of synthesizing and selecting materials.   
                        </p>
                        <p>
                            My group's capstone project involved studying the effects of varying humidity on the physical properties on the surface of a metal component. After roughly 6 months of testing and analyzing our results, we successfully presented and defended our conclusions to our professors and our industry partners - Stackpole International.
                        </p> -->
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="education2">
                    <h3 class="mb-0">
                        <button class="btn btn-block shadow-none text-left collapsed btn-txt" type="button"
                            data-toggle="collapse" data-target="#collapseEducation2" aria-expanded="false"
                            aria-controls="collapseTwo">
                            OCGC Cyber Security Analytics - Mohawk College
                        </button>
                    </h3>
                </div>
                <div id="collapseEducation2" class="collapse" aria-labelledby="education2"
                    data-parent="#educationAccordion">
                    <div class="card-body">
                        <h5>Focus:</h5>
                        <ul>
                            <li>Compliance and Standards</li>
                            <li>Web Development</li>
                            <li>Network Security</li>
                        </ul>
                        <h5>Key Projects:</h5>
                        <ul>
                            <li>Developing a security strategy for Sniper Skin Canada</li>
                            <li>Testing and securing an ASP.Net web application</li>
                        </ul>
                        <h5>Outcomes:</h5>
                        <ul>
                            <li>Analysing cyber threats and deploying controls to mitigate their impact on business operations</li>
                            <li>Creating defence in depth using adminstrative, technologial, and physical controls</li>
                            <li>Aligning security strategies with business goals and budgetary requirements</li>
                        </ul>                        
                        <!-- <p>
                            This program provided an introduction to several areas of cyber security including software development best practices, network security, cryptography, and identity and access management. 
                        </p>
                        <p>
                            The final project for the software development best practices course required us to apply our coding experience to address vulnerabilities found in a C# ASP.Net web application framework. Vulnerabilities were discovered using a combination of visual inspection and automated testing tools - such as OWASP ZAP and Burp Suite. Version control on the project was performed using Git, and justifications for our modifications were provided in a final report. 
                        </p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>