<section id="Experience">
    <div>
        <h2>Experience</h2>
        <h4>Education</h4>
        <div class="accordion" id="educationAccordion">
            <div class="card">
                <div class="card-header" id="education1">
                    <h3 class="mb-0">
                        <button class="btn btn-block shadow-none text-left btn-txt" type="button" data-toggle="collapse"
                            data-target="#collapseEducation1" aria-expanded="true" aria-controls="collapseOne">
                            BEng Materials Science Engineering - McMaster University
                        </button>
                    </h3>
                </div>

                <div id="collapseEducation1" class="collapse" aria-labelledby="education1"
                    data-parent="#educationAccordion">
                    <div class="card-body">
                        <p>
                            The core of this program is similar to other streams of engineering; use mathematics to understand energy and matter, and apply this knowledge to create and maintain sustainable systems.
                            Where this stream specialized is analyzing the processes of synthesizing and selecting materials.   
                        </p>
                        <p>
                            My group's capstone project involved studying the effects of varying humidity on the physical properties on the surface of a metal component. After roughly 6 months of testing and analyzing our results, we successfully presented and defended our conclusions to our professors and our industry partners - Stackpole International.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="education2">
                    <h3 class="mb-0">
                        <button class="btn btn-block shadow-none text-left collapsed btn-txt" type="button"
                            data-toggle="collapse" data-target="#collapseEducation2" aria-expanded="false"
                            aria-controls="collapseTwo">
                            OCGC Cyber Security Analytics - Mohawk College
                        </button>
                    </h3>
                </div>
                <div id="collapseEducation2" class="collapse" aria-labelledby="education2"
                    data-parent="#educationAccordion">
                    <div class="card-body">
                        <p>
                            This program provided an introduction to several areas of cyber security including software development best practices, network security, cryptography, and identity and access management. 
                        </p>
                        <p>
                            The final project for the software development best practices course required us to apply our coding experience to address vulnerabilities found in a C# ASP.Net web application framework. Vulnerabilities were discovered using a combination of visual inspection and automated testing tools - such as OWASP ZAP and Burp Suite. Version control on the project was performed using Git, and justifications for our modifications were provided in a final report. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <h4>Industry</h4>
        <div class="accordion" id="industryAccordion">
            <div class="card">
                <div class="card-header" id="industry1">
                    <h3 class="mb-0">
                        <button class="btn btn-block shadow-none text-left btn-txt" type="button" data-toggle="collapse"
                            data-target="#collapseIndustry1" aria-expanded="true" aria-controls="collapseOne">
                            Engineering Intern - Union Drawn Steel II
                        </button>
                    </h3>
                </div>
                <div id="collapseIndustry1" class="collapse" aria-labelledby="industry1"
                    data-parent="#industryAccordion">
                    <div class="card-body">
                        My time as an intern was valuable in teaching me to learn while working and finding areas to improve myself outside of an academic setting. This is also where I began to develop a passion for coding. My coding experience prior to this involved making games (using Visual Basic or Python). In this position I was able to leverage my experience with Visual Basic to develop spreadsheets using Excel Macros to report machine runtimes and track maintenance requirements. Additionally, I was responsible for carrying out root cause analysis on quality issues reported by customers and interact with various stakeholders to ensure compliance and create permanent solutions. 
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="industry2">
                    <h3 class="mb-0">
                        <button class="btn btn-block shadow-none text-left collapsed btn-txt" type="button"
                            data-toggle="collapse" data-target="#collapseIndustry2" aria-expanded="false"
                            aria-controls="collapseTwo">
                            Jr. Quality Engineer - Martinrea International
                        </button>
                    </h3>
                </div>
                <div id="collapseIndustry2" class="collapse" aria-labelledby="industry2"
                    data-parent="#industryAccordion">
                    <div class="card-body">
                        As a quality engineer for a manufacturer creating parts for FCA - specifically the Dodge Charger, Challenger, and Chrysler 300 - I learned to pivot quickly to the rapidly changing needs of an organization. This included rapid response to internal and external quality issues and root cause analysis using methodologies such as 1X1's, 5 whys, and Kaizens. My passion for coding also helped me to improve data collection from quality complaints by once again utilizing Excel Macros. Making macros for our quality auditors required open communication about desired improvements, as well as creating interfaces that were clear and easily understood by a variety of users with differing levels of experience with technology.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>