<section id="Experience">
    <div>
        <h2>Experience</h2>
        <div class="accordion" id="industryAccordion">
            <div class="card">
                <div class="card-header" id="industry1">
                    <h3 class="mb-0">
                        <button class="btn btn-block shadow-none text-left btn-txt" type="button" data-toggle="collapse"
                            data-target="#collapseIndustry1" aria-expanded="true" aria-controls="collapseOne">
                            Engineering Intern - Union Drawn Steel II
                        </button>
                    </h3>
                </div>
                <div id="collapseIndustry1" class="collapse" aria-labelledby="industry1"
                    data-parent="#industryAccordion">
                    <div class="card-body">
                        My time as an intern was valuable in teaching me to learn while working and finding areas to improve myself outside of an academic setting. This is also where I began to develop a passion for coding. My coding experience prior to this involved making games (using Visual Basic or Python). In this position I was able to leverage my experience with Visual Basic to develop spreadsheets using Excel Macros to report machine runtimes and track maintenance requirements. Additionally, I was responsible for carrying out root cause analysis on quality issues reported by customers and interact with various stakeholders to ensure compliance and create permanent solutions. 
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="industry2">
                    <h3 class="mb-0">
                        <button class="btn btn-block shadow-none text-left collapsed btn-txt" type="button"
                            data-toggle="collapse" data-target="#collapseIndustry2" aria-expanded="false"
                            aria-controls="collapseTwo">
                            Jr. Quality Engineer - Martinrea International
                        </button>
                    </h3>
                </div>
                <div id="collapseIndustry2" class="collapse" aria-labelledby="industry2"
                    data-parent="#industryAccordion">
                    <div class="card-body">
                        As a quality engineer for a manufacturer creating parts for FCA - specifically the Dodge Charger, Challenger, and Chrysler 300 - I learned to pivot quickly to the rapidly changing needs of an organization. This included rapid response to internal and external quality issues and root cause analysis using methodologies such as 1X1's, 5 whys, and Kaizens. My passion for coding also helped me to improve data collection from quality complaints by once again utilizing Excel Macros. Making macros for our quality auditors required open communication about desired improvements, as well as creating interfaces that were clear and easily understood by a variety of users with differing levels of experience with technology.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>