<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/280dd44db5.js" crossorigin="anonymous"></script>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Noto+Serif&family=Raleway&family=Ubuntu&display=swap" rel="stylesheet">
    <!-- <style>
        @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&&family=Raleway&display=swap');
    </style>
 -->
    <!-- My CSS -->
    <link rel="stylesheet" href="css/styles.css">
    
    <link rel="icon" href="https://www.flaticon.com/svg/static/icons/svg/3659/3659763.svg">
    <title>Raiden Skala</title>
    <meta name='description' content="Reach out and let me know how we can work together to achieve your goals.">
    <meta name="og:image" content="https://www.flaticon.com/svg/static/icons/svg/3659/3659763.svg"/>

</head>

<header>
    <nav class="navbar-dark navbar navbar-expand-md fixed-top my-nav-bar">
        <ul class='navbar-nav'>
            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                <a class="navbar-brand"  href="#Welcome">Raiden Skala</a>
            </li>
        </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
            aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon toggler-icon-setting"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a class="nav-link" href="#Skills">Skills</a>
                </li>
                <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a class="nav-link" href="#Education">Education</a>
                </li>
                <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a class="nav-link" href="#Experience">Experience</a>
                </li>
                <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a class="nav-link" href="#Projects">Projects</a>
                </li>
                <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a class="nav-link" href="#Certifications">Certifications</a>
                </li>
                <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a class="nav-link" href="#Contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- <div class="alert alert-success" role="alert`">
            <%= sentStatus %>
        </div> -->
    </nav>
</header>

<body>