<section id="Projects">
    <div>
        <h2>Projects</h2>
        <div class="container projectContainer">
            <div class="row">
                <div class="col-md-2 projectIconDiv" >
                    <a href='http://xersize.herokuapp.com'> 
                        <!-- <div class=""> -->
                            <div class='xersize' >
                                Xersize
                            </div>
                        <!-- </div> -->
                    </a>
                </div>
                <div class="col-md-10 projectContent ">
                    <p>The Xersize web application can be used to create and edit workout routines. Each routine can be used to start a new workout/training session. Users can visually track their progress with individual exercises based on the weight and volume used in their training sessions. Try it out:<a href='http://xersize.herokuapp.com'>   xersize.herokuapp.com</a></p>
                    <div class="row">
                        <div class="col-md-3">
                            Front-End:
                            <p>React.js</p>
                        </div>
                        <div class="col-md-3">
                            Back-End:
                            <p>Node.js + MongoDB</p>                        
                        </div>
                        <div class="col-md-3">
                            Authentication:
                            <p>Google Firebase</p>
                        </div>
                        <div class="col-md-3">
                            Platform:
                            <p>Heroku</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container projectContainer">
            <div class="row">
                <div class="col-md-2  projectIconDiv">
                    <a href='http://search4weather.herokuapp.com'>
                        <div class='search4weather'>
                            Search4Weather
                        </div>
                    </a>
                </div>
                <div class="col-md-10 projectContent ">
                    <p>The Search4Weather web application uses the positionstack and OpenWeather APIs for finding the weather conditions in a user specified city. Try it out:<a href='http://search4weather.herokuapp.com'> search4weather.herokuapp.com</a></p>
                    <div class="row">
                        <div class="col-md-3">
                            Front-End:
                            <p>React.js</p>
                        </div>
                        <div class="col-md-3">
                            Back-End:
                            <p>Node.js</p>                        
                        </div>
                        <div class="col-md-3">
                            Platform:
                            <p>Heroku</p>
                        </div>
                    </div>                
                </div>
            </div>
        </div>
    </div>
    *Please note: these projects were made for educational purposes. Due to this, Heroku may take up to 30 seconds for the application to become available.
</section>