<section id="Projects">
    <div>
        <h2>Projects and Certifications</h2>

        <!-- <div class="container certContainer">
            <div class="row">
                <div class="col-md-2  ">
                    <img src="https://images.youracclaim.com/images/2a15d440-edbe-44a2-890f-0a0caf7e1442/AWS-Developer-Associate.png" class="mr-3 AWSCertIcon" alt="...">
                </div>
                <div class="col-md-10 certContent">
                    <h5 class="mt-0">AWS Developer - Associate</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>
        </div> -->

        <div class="container certContainer">
            <div class="row">
                <div class="col-md-2">
                    <img src="https://valueinsights.ch/wp-content/uploads/2019/06/ITIL%C2%AE-4-Foundation-CPD-300x169.png" class="mr-3 ITILCertIcon" alt="...">
                </div>
                <div class="col-md-10 certContent ">
                    <h5 class="mt-0">ITIL 4 Foundation</h5>
                    Using the ITIL Service Value System to enable businesses to be responsive in creating value and meeting desired outcomes for their customers.
                </div>
            </div>
        </div>

        <div class="container certContainer">
            <div class="row">
                <div class="col-md-2">
                    <img src="https://images.youracclaim.com/size/680x680/images/74790a75-8451-400a-8536-92d792c5184a/CompTIA_Security_2Bce.png" class="mr-3 securityCertIcon" alt="...">
                </div>
                <div class="col-md-10 certContent ">
                    <h5 class="mt-0">CompTIA Security+</h5>
                    Analysing cyber threats and deploying controls to mitigate their impact on business operations.
                </div>
            </div>
        </div>
        <!-- <div class="media">
            <img src="https://images.youracclaim.com/images/2a15d440-edbe-44a2-890f-0a0caf7e1442/AWS-Developer-Associate.png" class="mr-3 AWSCertIcon" alt="...">
            <div class="media-body">
              <h5 class="mt-0">Media heading</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
        </div> -->
        
        <!-- <div class="media">
            <img src="https://valueinsights.ch/wp-content/uploads/2019/06/ITIL%C2%AE-4-Foundation-CPD-300x169.png" class="mr-3 ITILCertIcon" alt="...">
            <div class="media-body">
              <h5 class="mt-0">Media heading</h5>
              Using the ITIL Service Value System to enable businesses to be responsive in creating value and meeting desired outcomes for their customers.
            </div>
        </div> -->

        <!-- <div class="media">
            <img src="https://images.youracclaim.com/size/680x680/images/74790a75-8451-400a-8536-92d792c5184a/CompTIA_Security_2Bce.png" class="mr-3 securityCertIcon" alt="...">
            <div class="media-body">
              <h5 class="mt-0">Media heading</h5>
              Analysing cyber threats and implementing controls to mitigate their impact.
            </div>
        </div> -->

        <!-- Projects -->
        <div class="container">
            <div class="row" >
                
            </div>
        </div>

        

    </div>
</section>