<section id="Skills">
    <div>
        <h2>Skills</h2>


        <div class="container ">
            <div class="row">
                <div class="col-md-4 ">
                    <div class="flip-card ">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <i class="fas fa-laptop-code"></i>
                            </div>
                            <div class="flip-card-back">
                                <h3>Web Application Development</h3>
                                <p>Using HTML, CSS, JavaScript and React.js for front end development; and Node.js and MongoDB for
                                    back end support.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <i class="fas fa-concierge-bell"></i>
                            </div>
                            <div class="flip-card-back">
                                <h3>Customer Service</h3>
                                <p>Appreciating the experiences and opinions of customers and coworkers to provide
                                    exceptional service and
                                    results.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <!-- <i class="fas fa-calculator"></i> -->
                                <i class="fas fa-book"></i>
                            </div>
                            <div class="flip-card-back">
                                <!-- <h3>Logical and Proactive</h3>
                                <p>Taking the initiative to analyze processes and find opportunities for improvement.</p> -->
                                    <h3>Learning</h3>
                                    <p>Whether through classes or experiences, I always find a way to learn something new and use it to create value.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>